/******************************************************
* #### jQuery Github Repos Feed v0.0.1 ####
* Coded by Ican Bachors 2016.
* http://ibacor.com/labs/jquery-github-repos-feed
* Updates will be posted to this site.
******************************************************/

#jgrfeed {
	font-family: Arial;
	font-size: 1em;
	display: block;
	color: #333
}

#jgrfeed .jgrfeed_header,
#jgrfeed .jgrfeed_body,
#jgrfeed .jgrfeed_body .jgrfeed_content,
#jgrfeed .jgrfeed_body .jgrfeed_root {
	display: block;
	margin: 0;
}

#jgrfeed .jgrfeed_header,
#jgrfeed .jgrfeed_body .jgrfeed_content,
#jgrfeed .jgrfeed_body .jgrfeed_root {
	padding: 9px 10px 10px;
}

#jgrfeed .jgrfeed_header div,
#jgrfeed .jgrfeed_body .jgrfeed_content div {
	display: inline-block;
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#jgrfeed .jgrfeed_header {
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #d8d8d8;
	border-radius: 3px 3px 0 0;
}

#jgrfeed .jgrfeed_header div {
	text-align: center;
}

#jgrfeed .jgrfeed_body {
	border: 0px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #fff;
}

#jgrfeed .jgrfeed_body .jgrfeed_content {
	color: #888;
	border: 0px;
	border-bottom: 1px solid #ddd;
}

#jgrfeed .jgrfeed_body .jgrfeed_content div.name {
	text-align: left;
}

#jgrfeed .jgrfeed_body .jgrfeed_content div.size {
	text-align: center;
}

#jgrfeed .jgrfeed_body .jgrfeed_root {
	border: 0px;
	border-bottom: 1px solid #c9e6f2;
	font-weight: bold;
	background-color: #f2f9fc;
	color: #888;
	text-align: left;
}

#jgrfeed .jgrfeed_direktori {
	font-size: 0.8em;
	margin-bottom: 10px;
}

#jgrfeed .jgrfeed_direktori a {
	color: #4078c0;
	text-decoration: none;
}

#jgrfeed .jgrfeed_direktori .rfile,
#jgrfeed .jgrfeed_direktori .sub {
	font-family: Arial;
	color: #4078c0;
}

#jgrfeed .jgrfeed_direktori .fa {
	cursor: pointer;
}

#jgrfeed .jgrfeed_direktori .fa-folder {
	color: #80a6cd;
}

#jgrfeed .jgrfeed_direktori .fa-file-text-o {
	color: #767676;
}

#jgrfeed .jgrfeed_direktori .fa-cloud-download {
	color: #ea97f4;
}

#jgrfeed .jgrfeed_direktori .fa-level-up {
	color: #FF5CAD;
}

#jgrfeed .jgrfeed_read_file {
	font-size: 0.8em;
	display: block;
	padding: 9px 10px 10px;
	margin: 0;
	background-color: #f5f5f5;
	border: 1px solid #d8d8d8;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	color: #888;
}

#jgrfeed .jgrfeed_read_file a,
#jgrfeed .jgrfeed_read_file a:hover,
#jgrfeed .jgrfeed_read_file a:active,
#jgrfeed .jgrfeed_read_file a:focus {
	font-weight: bold;
	color: #333;
	text-decoration: none
}

#jgrfeed .CodeMirror {
	border: 1px solid #d8d8d8;
	line-height: 1.3;
	height: 400px;
	text-align: left;
	margin: 0px;
}

#jgrfeed .CodeMirror-linenumbers {
	padding: 0 8px;
}
